.nuxy-shortcut-bar {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: var(--space-5);
  box-sizing: border-box;
  height: 32px;
  padding: 0 var(--space-5);
  border-top: 1px solid var(--syntax-comment);
}
