nuxy-tool-host {
  display: flex;
  flex: 1;
  flex-direction: column;
  min-height: 0;
}

nuxy-tool-host > * {
  display: flex;
  flex-direction: column;
  flex: 1;
  min-height: 0;
  overflow: hidden;
}

nuxy-tool-host[loading] {
  flex: 1;
  min-height: 200px;
}
