.nuxy-two-panel {
  display: flex;
  height: 100%;
  overflow: hidden;
}

.nuxy-two-panel__left {
  flex-shrink: 0;
  overflow-y: overlay;
  border-right: 1px solid var(--border);
}

.nuxy-two-panel__right {
  flex: 1;
  display: flex;
  flex-direction: column;
  min-height: 0;
}
