.nuxy-kbd {
  padding: var(--space-0) var(--space-2);
  border-radius: var(--radius-sm);
  background-color: var(--syntax-comment);
  border: 1px solid var(--syntax-keyword);
  font-size: var(--font-xs);
  color: var(--syntax-variable);
}
